.link {
    color: orange;
    text-decoration: none;
}

.card {
    width: 20rem;

}

.card img {
    height: 20rem;
    width: 100%;
    padding: 0 !important;
}

.more {
    border: 1px solid darkgreen;
    background-image: linear-gradient(to bottom, transparent 50%, rgb(2, 64, 85));
    box-shadow: 0 0 3rem rgb(1, 31, 1);
}
.less {
    border: 1px solid red;
    box-shadow: 0 0 3rem rgb(100, 1, 1);
    background-image: linear-gradient(to bottom, transparent 50%, rgb(188, 206, 107));
}
